In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\maimr\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\maimr\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\maimr\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [37]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [ ]:
# Data Resourse - Kaggle
# https://www.kaggle.com/competitions/instacart-market-basket-analysis/data

In [39]:
orders_df = pd.read_csv('Data/orders.csv') #.sample(1000)

In [40]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [41]:
aisles_df = pd.read_csv('Data/aisles.csv')

In [42]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [43]:
departments_df = pd.read_csv('Data/departments.csv')

In [44]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [45]:
order_products_df = pd.read_csv('Data/order_products.csv')#.sample(1000)

In [46]:
order_products_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [47]:
products_df = pd.read_csv('Data/products.csv')

In [48]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [49]:
#connection to data base
try:
    conn = psycopg2.connect(dbname = 'ecom_analysis', user = 'postgres', password = 'imran123', port = '5432')
except:
    print("Connection was unsuccessful")

In [61]:
cur = conn.cursor()

In [63]:
engine = create_engine('postgresql+psycopg2://postgres:imran123@localhost/ecom_analysis')

In [65]:
cur.execute('''
CREATE TABLE IF NOT EXISTS aisles(
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR(255)
)
''')

In [67]:
cur.execute('''
CREATE TABLE IF NOT EXISTS departments(
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
''')

In [69]:
cur.execute('''
CREATE TABLE IF NOT EXISTS products(
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
)
''')

In [71]:
cur.execute('''
CREATE TABLE IF NOT EXISTS orders(
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER
)
''')

In [73]:
cur.execute('''
CREATE TABLE IF NOT EXISTS order_products(
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY(order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    
)
''')

In [75]:
conn.commit()

In [77]:
orders_df.drop('eval_set', inplace = True, axis = 1)

In [79]:
orders_df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [81]:
aisles_df.to_sql('aisles', con=engine, if_exists = 'append',index=False)

134

In [83]:
departments_df.to_sql('departments',con=engine, if_exists = 'append',index=False)

21

In [85]:
products_df.to_sql('products', con=engine, if_exists = 'append',index=False)

688

In [87]:
orders_df.to_sql('orders', con=engine, if_exists = 'append',index=False)

83

In [89]:
order_products_df.to_sql('order_products', con=engine, if_exists = 'append',index=False)

489

Create a temporary table that joins the orders, order_products, and products tables to get information about each order, including the products that were purchased and their department and aisle information.